# Created by .ignore support plugin (hsz.mobi)
#Ignore idea settings
.idea/
*/.idea/

#ignore .keep
*.keep

#ignore iOS files
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/ios/turajol-ios/Podfile.lock
/ios/turajol-ios/Pods/
/ios/turajol-ios/turajol-ios.xcworkspace/xcuserdata/samatbek.o.xcuserdatad/xcdebugger/
